body {
    margin: 0px;
    background-image: url(https://wallpapercave.com/wp/wp8286083.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    font-family: 'Merriweather Sans', sans-serif;
}

.nav {
    background-color: rgb(227, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 15px;
    height: 60px;
}


.nav-logo {
    color: white;
    margin-left: 40px;
    white-space: nowrap;
    font-size: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-links-div {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-right: 50px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: auto;
}

.links {
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.links:hover {
    background-color: rgba(0, 0, 0, 0.381);
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: absolute;
        top: 44px;
        left: 0;
        background-color: rgba(255, 0, 0, 0.526);
        padding: 10px 20px;
    }

    .nav-links-div {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.show {
        display: flex;
    }
}

@media (max-width: 480px) {
    .nav-logo {
        font-size: 1.5rem;
    }
}
body {
    font-family: Arial;
    
    background-color: #f5f5f5;
}

.team-section {
    background-color: #b7acb904;
    text-align: center;
    padding: 50px 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.team-member {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
    
    
}

.team-member img {
    border-radius: 30%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.team-member h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #000000;
}

.role {
    font-size: 0.9em;
    color: #ffcc00;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.description {
    font-size: 0.9em;
    color: #777777;
    margin-bottom: 20px;
}

.social-links a {
    margin: 0 5px;
    color: #000000;
    font-size: 1.2s;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.social-links a:hover {
    color: #ffcc00;
}
i {
    font-size: 24px;
    color: #1877F2;
  }
.fa-instagram {
    font-size: 30px;
    color: #f009ab;
}

