body {
    margin: 0px;
}
header {
    font-family: 'Merriweather Sans', sans-serif;
}

.nav {
    background-color: rgb(227, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 5px 15px;
    height: 60px;
}


.nav-logo {
    color: white;
    margin-left: 40px;
    white-space: nowrap;
    font-size: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-links-div {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-right: 50px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: auto;
}

.links {
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.links:hover {
    background-color: rgba(0, 0, 0, 0.381);
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: absolute;
        top: 44px;
        left: 0;
        background-color: rgba(255, 0, 0, 0.526);
        padding: 10px 20px;
    }

    .nav-links-div {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.show {
        display: flex;
    }
}

@media (max-width: 480px) {
    .nav-logo {
        font-size: 1.5rem;
    }
}

.main-heading {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Background\ Greyscale\ FamousInventors.png);
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: overlay;
    background-position: center;
}
.heading {
    width: 900px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: xx-large;
    text-align: center;
    margin: 20px;
    padding: 20px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
.body-content {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.inventors {
    margin: 20px;
    font-family: Arial, sans-serif;
    color: black;
    display: flex;
    text-decoration: none;
    align-items: center;
    border: 2px solid rgb(132, 0, 0);
    transition: transform 0.3s ease;
    display: flex;
    justify-content: space-between;
}
.inventors-image {
    width: 250px;
    height: 350px;
    padding: 30px;
    transition: transform 0.3s ease;
    object-fit: cover;
}
.inventors-info {
    padding: 30px;
    font-size: 1.1rem;
}
.inventors-info h2 {
    text-align: center;
    font-size: 3.3rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.inventors:hover .inventors-image {
    transform: scale(1.05);
}
/* .inventors:hover {
    transform: scale(1.05);
} */
.inventors:hover h2 {
    color: #ab2328;
}
@media (max-width: 480px) {
    .inventors {
        flex-direction: column;
        align-items: flex-start;
    }

    .inventors-info h2 {
        font-size: 1.8rem;
    }

    .inventors-info p {
        font-size: 0.9rem;
    }

    .inventors-image {
        display: none;
    }
}
@media (max-width: 1060px) {
    .main-heading {
        height: 400px;
    }

    .heading {
        width: 100%;
        font-size: large;
        padding: 15px;
    }

    .body-content {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .inventors {
        flex-direction: row;
        align-items: center;
        margin: 10px;
        padding: 10px;
    }

    .inventors-image {
        width: 150px;
        height: auto;
    }

    .inventors-info {
        padding: 10px;
        font-size: 1rem;
    }

    .inventors-info h2 {
        font-size: 2rem;
    }

    .inventors div:nth-child(3) .inventors-image {
        display: none;
    }
}